<div [ngSwitch]="loadStatus" class="tw-grid tw-h-full tw-bg-[#d2dce8]">
    <svg *ngSwitchCase="'loading'" role="status" class="tw-m-auto tw-h-8 tw-w-8 tw-animate-spin tw-fill-[#FAAF40] tw-text-[#F1F1F1]"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
    </svg>

    <div *ngSwitchCase="'error'" class="tw-m-auto tw-flex tw-flex-col tw-gap-4">
        <span class="tw-text-center tw-text-xl">Something went wrong. Please check your internet connection and try
            again.</span>
        <button class="primary tw-mx-auto" (click)="loadData()">Retry</button>
    </div>

    <div *ngSwitchCase="'success'" class="tw-flex tw-h-full tw-min-h-0 tw-flex-col md:tw-pt-0 tw-pt-2 md:tw-px-10 tw-px-2">

        <div class="lg:tw-grid lg:tw-grid-cols-4 tw-flex tw-flex-col tw-justify-center tw-gap-10">
            <div>
                <div class="tw-flex tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center tw-relative">
                    <input placeholder="Patient Name" class="tw-h-8 tw-bg-[#F0F0F0] tw-text-gray-900  tw-rounded-lg tw-block tw-w-full tw-p-2.5 tw-text-center custom-input-text-color" [(ngModel)]="searchValue"  required>
                    <svg *ngIf="!searchValue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.5 25.5" class="tw-absolute tw-right-[10%] tw-w-4">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #f2f6f9;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-1,
                                .cls-2 {
                                    stroke: #3a414a;
                                }
                    
                                .cls-2 {
                                    fill: none;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 3px;
                                }
                            </style>
                        </defs>
                        <line class="cls-2" x1="24" y1="24" x2="10" y2="10" />
                        <circle class="cls-1" cx="10" cy="10" r="9" />
                    </svg>
                </div>
            </div>
            <div>
                <div class="group tw-relative tw-w-full tw-flex tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                    <div class="btn-wrp">
                        <select class="tw-h-8 btn-clck tw-text-[#3a414a] tw-px-10 hover:tw-border-gray-400 focus:tw-outline-none tw-appearance-none tw-rounded-l-lg custom-input-text-color">
                            <option>Event Type</option>
                        </select>
                    </div>
                    <button class="tw-h-8 custom-btn tw-bg-[#AFBDCF] group-hover:tw-bg-gray-300  tw-rounded-r-lg">
                        <span class="tw-m-2 ">▼</span>
                    </button>
                </div>
            </div>
            <div>
                <div class="group tw-relative tw-w-full tw-flex tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                    <div class="btn-wrp">
                        <select class="tw-h-8 btn-clck tw-text-[#3a414a] tw-px-10 hover:tw-border-gray-400 focus:tw-outline-none tw-appearance-none tw-rounded-l-lg">
                            <option>Last 7 days</option>
                        </select>
                    </div>
                    <button class="tw-h-8 custom-btn tw-bg-[#AFBDCF] group-hover:tw-bg-gray-300  tw-rounded-r-lg">
                        <span class="tw-m-2 ">▼</span>
                    </button>
                </div>
            </div>
            <div class="tw-flex tw-gap-5 tw-justify-between tw-items-center">
                <div class="exmp-wrp tw-flex tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center" title="from">
                    <div class="btn-wrp">
                        <input #minDate placeholder="from" (focus)="onDateFocus(minDate)" (blur)="onDateBlur(minDate)" class="tw-h-8 btn-clck custom-input-text-color">
                    </div>
                    <button class="tw-h-8 custom-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="tw-h-8">
                            <defs>
                                <style>
                                    .cls-1-1 {
                                        fill: none;
                                    }
                        
                                    .cls-1-1,
                                    .cls-2-1 {
                                        stroke: #3a414a;
                                        stroke-miterlimit: 10;
                                        stroke-width: 2px;
                                    }
                        
                                    .cls-2-1 {
                                        fill: #afbdcf;
                                    }
                                </style>
                            </defs>
                            <rect id="select" x="1" y="1" width="34" height="34" rx="3" ry="3" class="cls-2-1"></rect>
                            <line x1="1" y1="18" x2="35" y2="18" class="cls-1-1"></line>
                            <line x1="1" y1="26" x2="35" y2="26" class="cls-1-1"></line>
                            <line x1="1" y1="10" x2="35" y2="10" class="cls-1-1"></line>
                            <line x1="18" y1="35" x2="18" y2="10" class="cls-1-1"></line>
                            <line x1="26" y1="35" x2="26" y2="10" class="cls-1-1"></line>
                            <line x1="10" y1="35" x2="10" y2="10" class="cls-1-1"></line>
                        </svg>
                    </button>
                </div>
                
                <span>—</span>

                <div class="exmp-wrp tw-flex tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center" title="to">
                    <div class="btn-wrp">
                        <input #maxDate placeholder="to" (focus)="onDateFocus(maxDate)" (blur)="onDateBlur(maxDate)" class="tw-h-8 btn-clck custom-input-text-color">
                    </div>
                    <button class="tw-h-8 custom-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="tw-h-8">
                            <defs>
                                <style>
                                    .cls-1-1 {
                                        fill: none;
                                    }
                        
                                    .cls-1-1,
                                    .cls-2-1 {
                                        stroke: #3a414a;
                                        stroke-miterlimit: 10;
                                        stroke-width: 2px;
                                    }
                        
                                    .cls-2-1 {
                                        fill: #afbdcf;
                                    }
                                </style>
                            </defs>
                            <rect id="select" x="1" y="1" width="34" height="34" rx="3" ry="3" class="cls-2-1"></rect>
                            <line x1="1" y1="18" x2="35" y2="18" class="cls-1-1"></line>
                            <line x1="1" y1="26" x2="35" y2="26" class="cls-1-1"></line>
                            <line x1="1" y1="10" x2="35" y2="10" class="cls-1-1"></line>
                            <line x1="18" y1="35" x2="18" y2="10" class="cls-1-1"></line>
                            <line x1="26" y1="35" x2="26" y2="10" class="cls-1-1"></line>
                            <line x1="10" y1="35" x2="10" y2="10" class="cls-1-1"></line>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="tw-mt-5 lg:tw-grid lg:tw-grid-cols-3 tw-flex tw-flex-col tw-justify-center tw-gap-4">
            <div class="tw-flex lg:tw-gap-4 tw-gap-0 tw-justify-between tw-items-center">
                <span class=" tw-font-medium tw-text-[#3a414a]">Age</span>

                <div class="tw-h-[36px] tw-flex tw-divide-x tw-divide-black tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                    <input #minAge type="text" min="1" max="200" value="50" pattern="^\d*$" placeholder="from" class="tw-h-full tw-bg-[#F0F0F0] tw-text-gray-900  tw-rounded-lg tw-block tw-w-full tw-p-2.5 tw-text-center custom-input-text-color" (keydown)="validateAge($event, minAge)" required>
                    <div class="custom-num-spinner-container hover">
                        <span class="custom-num-spinner noselect" (click)="increase(minAge)">▲</span>
                        <span class="custom-num-spinner noselect" (click)="decrease(minAge)">▼</span>
                    </div>
                </div>

                <span>—</span>

                <div class="tw-h-[36px] tw-flex tw-divide-x tw-divide-black tw-bg-[#f2f6f9] tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                    <input #maxAge type="text" min="1" max="200" value="85" pattern="^\d*$" placeholder="to" class="tw-h-full tw-bg-[#F0F0F0] tw-text-gray-900  tw-rounded-lg tw-block tw-w-full tw-p-2.5 tw-text-center custom-input-text-color" (keydown)="validateAge($event, maxAge)" required>
                    <div class="custom-num-spinner-container hover">
                        <span class="custom-num-spinner noselect" (click)="increase(maxAge)">▲</span>
                        <span class="custom-num-spinner noselect" (click)="decrease(maxAge)">▼</span>
                    </div>
                </div>
            </div>

            <!-- <div class="tw-col-span-2 lg:tw-grid lg:tw-grid-cols-2 lg:tw-gap-0 tw-flex tw-flex-col tw-gap-4"> -->
                <div class="tw-flex tw-justify-between tw-w-full tw-px-5">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark checkmark-low"></span>
                        </label>
                        <label class="tw-ml-2  tw-font-medium tw-text-[#3a414a]">Low</label>
                    </div>
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark checkmark-medium"></span>
                        </label>
                        <label class="tw-ml-2  tw-font-medium tw-text-[#3a414a]">Med</label>
                    </div>
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark checkmark-high"></span>
                        </label>
                        <label class="tw-ml-2  tw-font-medium tw-text-[#3a414a]">High</label>
                    </div>
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark checkmark-default"></span>
                        </label>
                        <label class="tw-ml-2  tw-font-medium tw-text-[#3a414a]">No Data</label>
                    </div>
                </div>
    
                <div class="tw-flex tw-gap-10">
                    <button class="tw-max-w-fit tw-w-full tw-px-2 tw-h-[38px] tw-truncate tw-bg-[#80D690] hover:tw-bg-green-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg  tw-text-center tw-self-center" title="New Patient" (click)="addNewPatient()">New Patient</button>
                    <button class="tw-w-[130px] tw-h-[38px] tw-truncate tw-bg-[#8FDAEB] hover:tw-bg-cyan-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg  tw-text-center tw-self-center" title="Search" (click)="loadData()">Search</button>
                    <button class="tw-w-[130px] tw-h-[38px] tw-truncate tw-bg-[#EDB770] hover:tw-bg-amber-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg  tw-text-center tw-self-center" title="Reset" (click)="loadData()">Reset</button>
                </div>
            <!-- </div> -->

        </div>

        <div class="tw-mt-5 tw-grid">
            <div class="tw-overflow-x-auto tw-relative tw-shadow-md">
                <table class="tw-w-full  tw-text-center tw-shadow-sm tw-rounded-lg tw-border-collapse tw-border tw-border-[#3a414a]">
                    <thead class="tw-text-[#3a414a] tw-bg-[#afbdcf]">
                        <tr>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                <div class="tw-flex tw-items-center tw-justify-between">
                                    Full Name
                                    <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" class="tw-ml-1 tw-w-3 tw-h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
                                </div>
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                Patient ID
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                Age
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                Avg. Falls
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                Avg. HR
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                Avg. 02Sat
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-bg-[#f2f6f9] tw-font-medium">
                                <div class="tw-flex tw-items-center tw-justify-between">
                                    Last Event Date
                                    <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" class="tw-ml-1 tw-w-3 tw-h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
                                </div>
                            </th>
                            <th scope="col" class="tw-py-2 tw-px-6 tw-border tw-border-[#3a414a] tw-font-medium">
                                <div class="tw-flex tw-items-center tw-justify-between">
                                    Last Event Type
                                    <a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" class="tw-ml-1 tw-w-3 tw-h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patient of patients" class="odd:tw-bg-white even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300 tw-cursor-pointer" (click)="editPatient(patient)">
                            <th scope="row" class="tw-text-left tw-py-2 tw-px-6 tw-font-medium tw-whitespace-nowrap tw-border-r tw-border-[#3a414a]">
                                {{patient.fullName ? patient.fullName : '-'}}
                            </th>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.patientId ? patient.patientId : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.age ? patient.age : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.avgFalls ? patient.avgFalls : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.avgHR ? patient.avgHR : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.avg02 ? patient.avg02 : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                                {{patient.lastEventDate ? patient.lastEventDate : '-'}}
                            </td>
                            <td class="tw-py-2 tw-px-6">
                                {{patient.lastEventType ? patient.lastEventType : '-'}}
                            </td>
                        </tr>
                        <tr *ngFor="let item of [].constructor(remainder)" class="odd:tw-bg-white even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <th scope="row" class="tw-text-left tw-py-2 tw-px-6 tw-font-medium tw-whitespace-nowrap tw-border-r tw-border-[#3a414a]">
                                &nbsp;
                            </th>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6 tw-border-r tw-border-[#3a414a]">
                            </td>
                            <td class="tw-py-2 tw-px-6">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
        
            <div class="tw-flex tw-justify-end">
                <div>
                    <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="true" aria-label="Custom pagination">
                        <ng-template ngbPaginationFirst>First</ng-template>
                        <ng-template ngbPaginationLast>Last</ng-template>
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                        <ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>