<div [ngSwitch]="loadStatus" class="tw-grid tw-h-full tw-bg-[#d2dce8]">
    <svg *ngSwitchCase="'loading'" role="status" class="tw-m-auto tw-h-8 tw-w-8 tw-animate-spin tw-fill-[#FAAF40] tw-text-[#F1F1F1]"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
    </svg>

    <div *ngSwitchCase="'error'" class="tw-m-auto tw-flex tw-flex-col tw-gap-4">
        <span class="tw-text-center tw-text-xl">Something went wrong. Please check your internet connection and try
            again.</span>
        <button class="primary tw-mx-auto" (click)="loadData()">Retry</button>
    </div>

    <div *ngSwitchCase="'success'" class="tw-flex tw-h-full tw-min-h-0 tw-flex-col md:tw-pt-0 tw-pt-2 md:tw-px-10 tw-px-2">

        <div class="md:tw-grid md:tw-grid-cols-4 tw-flex tw-flex-col tw-justify-center tw-gap-4">
            <div>&nbsp;</div>
            
            <ul class="tw-flex tw-text-sm tw-font-medium tw-text-center tw-text-gray-500 tw-rounded-lg tw-border tw-border-[#3a414a] tw-divide-x tw-divide-[#3a414a] custom-tab-parent">
                <li class="tw-w-full custom-tab" *ngFor="let range of timeRange">
                    <a [ngClass]="{'active': activeRange.text == range.text}" class="tw-cursor-pointer tw-inline-block md:tw-p-2 tw-p-1 tw-w-full tw-bg-[#afbdcf] tw-text-[#3a414a] hover custom-tab-item" aria-current="page" (click)="changeRange(range)">{{ range.text }}</a>
                </li>
            </ul>

            <div class="tw-flex tw-justify-between tw-w-full">
                <div class="tw-flex tw-items-center tw-mr-4">
                    <label class="custom-check">
                        <input type="checkbox" checked>
                        <span class="checkmark checkmark-low"></span>
                    </label>
                    <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Low</label>
                </div>
                <div class="tw-flex tw-items-center tw-mr-4">
                    <label class="custom-check">
                        <input type="checkbox" checked>
                        <span class="checkmark checkmark-medium"></span>
                    </label>
                    <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Med</label>
                </div>
                <div class="tw-flex tw-items-center tw-mr-4">
                    <label class="custom-check">
                        <input type="checkbox" checked>
                        <span class="checkmark checkmark-high"></span>
                    </label>
                    <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">High</label>
                </div>
                <div class="tw-flex tw-items-center tw-mr-4">
                    <label class="custom-check">
                        <input type="checkbox" checked>
                        <span class="checkmark checkmark-default"></span>
                    </label>
                    <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">No Data</label>
                </div>
            </div>
        </div>

        <div class="tw-mt-5 tw-grid">
            <div class="tw-relative tw-h-[15rem] tw-overflow-x-auto">
                <table class="tw-table-fixed tw-w-full tw-border tw-border-[#3a414a] tw-bg-white tw-text-sm tw-shadow-sm tw-rounded-lg">
                    <thead class="tw-bg-[#afbdcf]">
                        <tr>
                            <th class="lg:tw-w-auto tw-w-80 tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900 tw-flex tw-justify-between">Full Name <span>▾</span></th>
                            <th class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900">Patient ID</th>
                            <th class="tw-w-32 tw-border tw-border-[#3a414a] tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900">Age</th>
                            <th class="tw-w-32 tw-border tw-border-[#3a414a] tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900">Fall Count</th>
                            <th class="tw-w-60 tw-border tw-border-[#3a414a] tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900">Heart Event Count</th>
                            <th class="tw-w-60 tw-border tw-border-[#3a414a] tw-font-semibold tw-px-4 tw-py-2 tw-text-slate-900 tw-bg-[#f2f6f9]">Last Event Date <span>▾</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500">Karel Novak</td>
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">655dfn4ds554</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">69</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">2</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">0</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">05.10.2022</td>
                        </tr>
                        <tr class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500">Maria Semanova</td>
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">354hrtd354k4g</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">72</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">0</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">3</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">04.10.2022</td>
                        </tr>
                        <tr class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500">Kim Tang</td>
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">15gfh47hgxd</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">84</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">1</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">2</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">02.10.2022</td>
                        </tr>
                        <tr class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500">Tara Marin</td>
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">587gsw74erds2</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">58</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                        </tr>
                        <tr class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300">
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500">Oleg Markov</td>
                            <td class="lg:tw-w-auto tw-w-80 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">5756fdgsdgjy</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">90</td>
                            <td class="tw-w-32 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                            <td class="tw-w-60 tw-border tw-border-[#3a414a] tw-px-4 tw-py-2 tw-text-slate-500 tw-text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="tw-flex md:tw-flex-row md:tw-justify-between md:tw-gap-0 tw-flex-col tw-gap-4">
                <button class="tw-w-fit tw-bg-[#8FDAEB] hover:tw-bg-cyan-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center" (click)="loadData()">Refresh</button>
                
                <div>
                    <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="true" aria-label="Custom pagination">
                        <ng-template ngbPaginationFirst>First</ng-template>
                        <ng-template ngbPaginationLast>Last</ng-template>
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                        <ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>

        <div class="tw-mt-5 tw-grid md:tw-grid-cols-2 tw-grid-cols-1 tw-gap-5 tw-h-[25rem]">
            <div class="tw-bg-white tw-border tw-border-[#3a414a] tw-h-full tw-flex tw-items-center tw-justify-center tw-rounded-lg">
                <span class="tw-text-center tw-text-[#898989] tw-text-4xl">
                    Fall Statistics <br> Graph
                </span>
            </div>

            <div class="tw-bg-white tw-border tw-border-[#3a414a] tw-h-full tw-flex tw-items-center tw-justify-center tw-rounded-lg">
                <span class="tw-text-center tw-text-[#898989] tw-text-4xl">
                    Heart Problems <br> Graph
                </span>
            </div>
        </div>
    </div>
</div>