<section class="tw-grid tw-h-full tw-bg-[#d2dce8]">
    <div class="tw-w-full tw-flex tw-flex-col tw-items-center tw-px-6 tw-py-8 tw-mx-auto">
        <div class="tw-self-end">
            <div class="group exmp-wrp tw-flex tw-bg-white tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                <div class="btn-wrp">
                    <select id="loginLanguageSelect" class="tw-h-8 btn-clck tw-text-[#3a414a] tw-px-10 hover:tw-border-gray-400 focus:tw-outline-none tw-appearance-none tw-rounded-l-lg" [(ngModel)]="userLocale">
                        <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
                    </select>
                </div>
                <button class="tw-h-8 custom-btn tw-bg-[#AFBDCF] group-hover:tw-bg-gray-300 tw-text-lg tw-rounded-r-lg">
                    <span class="tw-m-2 tw-text-sm">▼</span>
                </button>
            </div>
        </div>

        <a class="tw-flex tw-items-center tw-mb-6 tw-text-2xl tw-font-semibold tw-text-gray-900">
            <img id="revLogoBig" class="tw-w-full md:tw-h-full tw-h-8" src="/assets/revital_logo_big.png" alt="logo">
        </a>
        <div class="tw-max-w-xs tw-w-full tw-p-6 tw-space-y-4 md:tw-space-y-6 sm:tw-p-8">
            <form id="loginForm" name="loginForm" #loginForm="ngForm" class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-space-y-4 md:tw-space-y-6">
                <div class="tw-w-full">
                    <input id="loginEmail" type="email" name="loginEmail" [(ngModel)]="user.email" #email="ngModel" placeholder="Email"
                        class="tw-bg-gray-50 tw-border tw-border-[#3a414a] tw-text-gray-900 sm:tw-text-sm tw-rounded-lg tw-block tw-w-full tw-p-2.5" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-message">
                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                    </div>
                </div>

                <div class="tw-w-full">
                    <input id="loginPassword" type="password" name="loginPassword" [(ngModel)]="user.password" #password="ngModel" placeholder="Password"
                        class="tw-bg-gray-50 tw-border tw-border-[#3a414a] tw-text-gray-900 sm:tw-text-sm tw-rounded-lg tw-block tw-w-full tw-p-2.5" required>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation-message">
                        <div *ngIf="password.errors?.['required']">
                            Password is required.
                        </div>
                    </div>
                </div>

                <div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
                    <input id="loginButton" type="submit" name="loginButton"
                        class="tw-mt-5 tw-max-w-fit tw-w-full tw-bg-[#afbdcf] hover tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-12 tw-py-1.5 tw-text-center tw-self-center"
                        [ngClass]="{'btn-loading':submitting}" (click)="login(loginForm)" [disabled]="loginForm.invalid || submitting" value="Login">
    
                    <a id="resetPassword" routerLink="/password_reset" class="tw-mt-10 tw-text-sm tw-font-medium tw-text-[#0000ff] hover:tw-underline">Reset Password</a>
                </div>
            </form>
        </div>
    </div>
</section>