<div [ngSwitch]="loadStatus" class="tw-grid tw-h-full tw-bg-[#d2dce8]">
    <svg *ngSwitchCase="'loading'" role="status" class="tw-m-auto tw-h-8 tw-w-8 tw-animate-spin tw-fill-[#FAAF40] tw-text-[#F1F1F1]"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
    </svg>

    <div *ngSwitchCase="'error'" class="tw-m-auto tw-flex tw-flex-col tw-gap-4">
        <span class="tw-text-center tw-text-xl">Something went wrong. Please check your internet connection and try
            again.</span>
        <button class="primary tw-mx-auto" (click)="loadData()">Retry</button>
    </div>

    <div *ngSwitchCase="'success'" class="tw-flex tw-h-full tw-min-h-0 tw-flex-col md:tw-pt-10 tw-pt-2 lg:tw-px-32 tw-px-2">
        <div class="tw-grid tw-grid-cols-6 tw-gap-20">
            <div class="tw-col-span-2 tw-flex tw-flex-col tw-justify-between">
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Mon</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Tue</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Wed</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Thu</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Fri</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Sat</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
                
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-mr-4">
                        <label class="custom-check">
                            <input type="checkbox" checked>
                            <span class="checkmark-rounded checkmark-rounded-default"></span>
                        </label>
                        <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Sun</label>
                    </div>
    
                    <ngb-timepicker [(ngModel)]="start" [size]="size"></ngb-timepicker>
    
                    <span>-</span>
                    
                    <ngb-timepicker [(ngModel)]="end" [size]="size"></ngb-timepicker>
                </div>
            </div>

            <div class="tw-col-span-3 tw-flex tw-gap-20 tw-items-center">
                <div class="tw-h-fit tw-border tw-border-[#3a414a] tw-rounded-lg tw-w-full">
                    <div class="tw-flex tw-flex-col">
                        <div class="tw-flex tw-divide-x tw-divide-black tw-bg-white tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center">
                            <div 
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()"
                                class="tw-flex tw-flex-col tw-gap-1 tw-bg-[#AFBDCF] tw-h-8 tw-rounded-l-lg hover">
                                <span class="tw-cursor-pointer tw-m-2 tw-h-8 noselect">◀</span>
                            </div>

                            <span class="tw-h-8 tw-bg-gray-50 tw-text-gray-900 sm:tw-text-sm tw-block tw-w-full tw-text-center tw-py-2">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>

                            <div 
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="closeOpenMonthViewDay()"
                              class="tw-flex tw-flex-col tw-gap-1 tw-bg-[#AFBDCF] tw-h-8 tw-rounded-r-lg hover">
                                <span class="tw-cursor-pointer tw-m-2 tw-h-8 noselect">▶</span>
                            </div>
                        </div>
                        <div class="tw-bg-[#F0F0F0] tw-flex tw-justify-between tw-p-2">
                            <p class="tw-text-[#14C1E8]">Out of Office</p>
                            <p class="tw-text-[#E88C14]">Public Holidays</p>
                        </div>
                    </div>

                    <mwl-calendar-month-view
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        class="tw-h-[228px] tw-rounded-lg"
                    >
                    </mwl-calendar-month-view>
                </div>
                
                <div class="tw-flex tw-flex-col tw-gap-20">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" width="50" height="50" class="tw-cursor-pointer" (click)="addDate()">
                        <defs>
                            <style>
                                .cls-1-4 {
                                    fill: #80d690;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-1-4,
                                .cls-2-4 {
                                    stroke: #3a414a;
                                }
                    
                                .cls-2-4 {
                                    fill: none;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 4px;
                                }
                            </style>
                        </defs>
                        <rect id="but" class="cls-1-4" x="1" y="1" width="50" height="50" rx="3" ry="3" />
                        <line class="cls-2-4" x1="26" y1="15.71" x2="26" y2="36.29" />
                        <line class="cls-2-4" x1="15.71" y1="26" x2="36.29" y2="26" />
                    </svg>
    
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" width="50" height="50" class="tw-cursor-pointer">
                        <defs>
                            <style>
                                .cls-1-5 {
                                    fill: #db7272;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-1-5,
                                .cls-2-5 {
                                    stroke: #3a414a;
                                }
                    
                                .cls-2-5 {
                                    fill: none;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 4px;
                                }
                            </style>
                        </defs>
                        <rect id="but" class="cls-1-5" x="1" y="1" width="50" height="50" rx="3" ry="3" tw-transform="translate(52 52) rotate(180)" />
                        <line class="cls-2-5" x1="15.71" y1="26" x2="36.29" y2="26" />
                    </svg>
                </div>
            </div>
            
            <div class="tw-flex tw-gap-10">
                <div class="tw-bg-[#FFFFFF] tw-border tw-border-[#3a414a] tw-rounded-lg tw-w-full">
                    <div class="tw-bg-[#F2F6F9] tw-flex tw-flex-col tw-rounded-t-lg">
                        <p class="tw-pt-2 tw-text-center">Out of Office</p>
                    </div>
                
                    
                    <div class="tw-flex tw-flex-col tw-w-full">
                        <mat-selection-list>
                            <mat-list-option class="even:tw-bg-[#F0F0F0] hover:tw-bg-gray-300 tw-mb-1 tw-w-full custom-list-option" *ngFor="let date of dates">
                                <div class="tw-w-full">
                                    <div class="tw-text-center tw-py-2" [ngClass]="date.isHoliday ? 'holiday-text': 'outOfOffice-text'">{{date.dateString}}</div>
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>