<mat-sidenav-container autosize class="tw-h-screen">
  <mat-sidenav
    #sidenav
    [disableClose]="!isHandset"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset"
  >
    <!-- <admin-nav></admin-nav> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="tw-flex tw-h-full tw-flex-col">
      <!-- header -->
      <admin-header class="tw-z-10" (menuclick)="sidenav.toggle()"></admin-header>
      <!-- header -->
      
      <div class="tw-grid tw-min-h-0 tw-flex-1 tw-overflow-y-auto">
        <router-outlet class="tw-hidden"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
