<div class="dialog-bg">
    <div class="dialog-title-container">
        <p class="dialog-title">Delete Record</p>
    </div>

    
    <div class="dialog-content">
        <p class="dialog-message">
            Are you sure you want to delete this record?
            <br>
            <br>
            Deleted records cannot be restored.
        </p>

        <div class="dialog-footer">
            <button class="dialog-confirm-btn" [ngClass]="{'btn-loading':submitting}" (click)="save()">Yes</button>
            <button class="dialog-cancel-btn" mat-dialog-close>No</button>
        </div>
    </div>
</div>