<div class="tw-bg-[#D2DCE8]">
    <div class="tw-bg-[#AFBDCF] tw-flex tw-justify-between tw-w-full tw-text-center tw-items-center tw-px-4">
        <div>&nbsp;</div>
  
        <p class="tw-pt-2">Add Date(s) - Out of Office</p>
  
        <div class="tw-cursor-pointer" mat-dialog-close>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="32" height="32">
                <defs>
                  <style>
                    .cls-1-3 {
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 4px;
                    }
              
                    .cls-1-3, .cls-2-3 {
                      fill: #edb770;
                      stroke: #3a414a;
                    }
              
                    .cls-2-3 {
                      stroke-miterlimit: 10;
                      stroke-width: 2px;
                    }
                  </style>
                </defs>
                <rect class="cls-2-3" x="1" y="1" width="34" height="34" rx="3" ry="3"></rect>
                <line class="cls-1-3" x1="10.5" y1="25.5" x2="25.5" y2="10.5"></line>
                <line class="cls-1-3" x1="10.5" y1="10.5" x2="25.5" y2="25.5"></line>
            </svg>
        </div>
    </div>
  
    
    <div class="tw-flex tw-flex-col tw-justify-between tw-h-[250px] tw-w-[414px] tw-p-10 tw-items-center">
        <div class="tw-flex tw-items-center tw-mr-4">
            <label class="custom-check">
                <input type="checkbox" [(ngModel)]="isRange">
                <span class="checkmark checkmark-default"></span>
            </label>
            <label class="tw-ml-2 tw-text-sm tw-font-medium tw-text-[#3a414a]">Range</label>
        </div>

        <div *ngIf="!isRange">
            <div class="tw-relative tw-w-[150px] tw-flex tw-bg-white tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center" title="Date">
                <div class="btn-wrp">
                    <input #date placeholder="Date" (focus)="onDateFocus(date)" (blur)="onDateBlur(date)" class="tw-h-8 btn-clck">
                </div>
                <button class="tw-h-8 custom-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="tw-h-8">
                        <defs>
                            <style>
                                .cls-1-1 {
                                    fill: none;
                                }
                    
                                .cls-1-1,
                                .cls-2-1 {
                                    stroke: #3a414a;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-2-1 {
                                    fill: #afbdcf;
                                }
                            </style>
                        </defs>
                        <rect id="select" x="1" y="1" width="34" height="34" rx="3" ry="3" class="cls-2-1"></rect>
                        <line x1="1" y1="18" x2="35" y2="18" class="cls-1-1"></line>
                        <line x1="1" y1="26" x2="35" y2="26" class="cls-1-1"></line>
                        <line x1="1" y1="10" x2="35" y2="10" class="cls-1-1"></line>
                        <line x1="18" y1="35" x2="18" y2="10" class="cls-1-1"></line>
                        <line x1="26" y1="35" x2="26" y2="10" class="cls-1-1"></line>
                        <line x1="10" y1="35" x2="10" y2="10" class="cls-1-1"></line>
                    </svg>
                </button>
            </div>
        </div>

        <div class="tw-flex tw-gap-2" *ngIf="isRange">
            <div class="tw-relative tw-w-[150px] tw-flex tw-bg-white tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center" title="From">
                <div class="btn-wrp">
                    <input #fromDate placeholder="from" (focus)="onDateFocus(fromDate)" (blur)="onDateBlur(fromDate)" class="tw-h-8 btn-clck">
                </div>
                <button class="tw-h-8 custom-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="tw-h-8">
                        <defs>
                            <style>
                                .cls-1-1 {
                                    fill: none;
                                }
                    
                                .cls-1-1,
                                .cls-2-1 {
                                    stroke: #3a414a;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-2-1 {
                                    fill: #afbdcf;
                                }
                            </style>
                        </defs>
                        <rect id="select" x="1" y="1" width="34" height="34" rx="3" ry="3" class="cls-2-1"></rect>
                        <line x1="1" y1="18" x2="35" y2="18" class="cls-1-1"></line>
                        <line x1="1" y1="26" x2="35" y2="26" class="cls-1-1"></line>
                        <line x1="1" y1="10" x2="35" y2="10" class="cls-1-1"></line>
                        <line x1="18" y1="35" x2="18" y2="10" class="cls-1-1"></line>
                        <line x1="26" y1="35" x2="26" y2="10" class="cls-1-1"></line>
                        <line x1="10" y1="35" x2="10" y2="10" class="cls-1-1"></line>
                    </svg>
                </button>
            </div>

            <span>-</span>

            <div class="tw-relative tw-w-[150px] tw-flex tw-bg-white tw-border tw-border-[#3a414a] tw-rounded-lg tw-items-center" title="To">
                <div class="btn-wrp">
                    <input #toDate placeholder="to" (focus)="onDateFocus(toDate)" (blur)="onDateBlur(toDate)" class="tw-h-8 btn-clck">
                </div>
                <button class="tw-h-8 custom-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="tw-h-8">
                        <defs>
                            <style>
                                .cls-1-1 {
                                    fill: none;
                                }
                    
                                .cls-1-1,
                                .cls-2-1 {
                                    stroke: #3a414a;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                    
                                .cls-2-1 {
                                    fill: #afbdcf;
                                }
                            </style>
                        </defs>
                        <rect id="select" x="1" y="1" width="34" height="34" rx="3" ry="3" class="cls-2-1"></rect>
                        <line x1="1" y1="18" x2="35" y2="18" class="cls-1-1"></line>
                        <line x1="1" y1="26" x2="35" y2="26" class="cls-1-1"></line>
                        <line x1="1" y1="10" x2="35" y2="10" class="cls-1-1"></line>
                        <line x1="18" y1="35" x2="18" y2="10" class="cls-1-1"></line>
                        <line x1="26" y1="35" x2="26" y2="10" class="cls-1-1"></line>
                        <line x1="10" y1="35" x2="10" y2="10" class="cls-1-1"></line>
                    </svg>
                </button>
            </div>
        </div>

        <button class="tw-w-[150px] tw-bg-[#80D690] hover:tw-bg-green-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center" [ngClass]="{'btn-loading':submitting}" (click)="save()">Save</button>
    </div>
  </div>