/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 21px;
}

.validation-message {
    @apply tw-text-red-500 tw-mt-2;
}

.btn-loading {
    @apply tw-animate-pulse;
}

.custom-tab-parent {
    @apply tw-h-[40px];
}

.custom-tab .custom-tab-item {
    @apply tw-h-[38px];
}

.custom-tab a.active {
    @apply tw-inline-block md:tw-p-2 tw-p-1 tw-w-full tw-text-[#3a414a] tw-bg-gray-100
    /* @apply tw-inline-block tw-p-4 tw-w-full tw-text-gray-900 tw-bg-gray-100 tw-rounded-l-lg focus:tw-ring-4 focus:tw-ring-blue-300 active focus:tw-outline-none */
}

.active-paginator {
    @apply !tw-bg-[#F2F6F9];
}

/* Selects the a tag in the first li element in a the tab */
.custom-tab-parent li:first-child a {
    @apply tw-rounded-l-lg;
}

/* Selects the a tag in the last li element in a the tab */
.custom-tab-parent li:last-child a {
    @apply tw-rounded-r-lg;
}

.app-full-dialog .mat-dialog-container {
    padding: 0;
    border: 2px solid;
}

.dialog-bg {
    @apply tw-bg-[#D2DCE8];
}

.dialog-new-edit-bg {
    @apply tw-max-w-[80vw] tw-min-h-[764px] tw-bg-[#D2DCE8];
}

.dialog-title-single-container {
    @apply tw-bg-[#AFBDCF] tw-flex tw-justify-center tw-w-full tw-h-[34px] tw-text-center tw-items-center tw-px-4;
    border-bottom: 2px solid;
}

.dialog-title-multiple-container {
    @apply tw-bg-[#AFBDCF] tw-flex tw-justify-between tw-w-full tw-text-center tw-items-center tw-px-4;
    border-bottom: 2px solid;
}

.dialog-title {
    @apply tw-text-[21px] tw-text-[#3a414a];
}

.dialog-content {
    @apply tw-flex tw-flex-col tw-gap-4 tw-h-[12rem] tw-w-[28rem] tw-pt-10 tw-px-6;
}
.dialog-content-qrcode {
    @apply tw-flex tw-flex-col tw-gap-4 tw-h-[15rem] tw-w-[15rem] tw-py-6;
}

.dialog-new-edit-content {
    @apply lg:tw-h-full md:tw-h-[60rem] tw-h-[50rem] tw-overflow-y-scroll;
}

.dialog-new-edit-subcontent {
    @apply tw-py-4 tw-px-6 lg:tw-grid lg:tw-grid-cols-5 tw-flex tw-flex-col tw-gap-5 tw-w-full;
}

.dialog-new-edit-footer {
    @apply tw-px-6 tw-flex tw-justify-between;
}

.dialog-new-edit-green-btn {
    @apply tw-w-fit tw-bg-[#80D690] hover:tw-bg-green-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center;
}
.dialog-new-edit-blue-btn {
    @apply tw-w-fit tw-bg-[#8FDAEB] hover:tw-bg-cyan-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center;
}
.dialog-new-edit-yellow-btn {
    @apply tw-w-fit tw-bg-[#EDB770] hover:tw-bg-amber-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center;
}
.dialog-new-edit-red-btn {
    @apply tw-w-fit tw-bg-[#DB7272] hover:tw-bg-red-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-8 tw-py-1.5 tw-text-center tw-self-center;
}

.dialog-message {
    @apply tw-text-center;
}

.dialog-message {
    @apply tw-text-center;
}

.dialog-footer {
    @apply tw-flex tw-gap-5;
}

.dialog-confirm-btn {
    @apply tw-w-full tw-bg-[#80D690] hover:tw-bg-green-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-12 tw-py-1.5 tw-text-center tw-self-center;
}

.dialog-cancel-btn {
    @apply tw-w-full tw-bg-[#DB7272] hover:tw-bg-red-100 tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-12 tw-py-1.5 tw-text-center tw-self-center;
}

div.options > label > input {
	visibility: hidden;
}

div.options > label {
	display: block;
	margin: 0 0 0 -10px;
	padding: 0 0 20px 0;  
	height: 20px;
	width: 150px;
}

div.options > label > img {
	display: inline-block;
	padding: 0px;
	height:30px;
	width:30px;
	background: none;
    border: 1px solid;
    border-radius: 50%;
}

div.options > label > input:checked +img {  
	/* background: url(http://cdn1.iconfinder.com/data/icons/onebit/PNG/onebit_34.png); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' data-name='Layer 2' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23f2f6f9; stroke-miterlimit: 10; stroke-width: 2px; %7D .cls-1, .cls-2 %7B stroke: %233a414a; %7D .cls-2 %7B fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px; %7D %3C/style%3E%3C/defs%3E%3Cg id='_2-C_PATIENT_CARD_Edit' data-name='2-C PATIENT CARD Edit'%3E%3Cg id='PacientCard_Edit' data-name='PacientCard Edit'%3E%3Cg id='CELLS_copy_4' data-name='CELLS copy 4'%3E%3Cg id='Cells_Patient_copy_3' data-name='Cells Patient copy 3'%3E%3Crect id='Thick' class='cls-1' x='1' y='1' width='34' height='34' rx='17' ry='17'/%3E%3Cpath id='Thick-2' data-name='Thick' class='cls-2' d='M10.84,18.74l6.13,5.14c2.73-3.26,5.47-6.51,8.2-9.77'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position:center center;
	background-size:30px 30px;
}

.noselect {
    /* cursor: default; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.exmp-wrp {
    position: relative;
    width: 200px;
}

.btn-wrp {
    border: none;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 10;
}

.btn-clck {
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px 10px;
}

.btn-clck-select {
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px 20px 5px 0;
}

.btn-clck::-webkit-calendar-picker-indicator {
    right: -10px;
    position: absolute;
    width: 78px;
    height: 40px;
    color: rgba(204, 204, 204, 0);
    opacity: 0
}

.btn-clck::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.btn-clck::-webkit-clear-button {
    margin-right:75px;
 }
.custom-btn {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
.prev-btn {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
}
.next-btn {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.hover {
	@apply hover:tw-text-gray-700 hover:tw-bg-gray-50;
}

.paginators {
	@apply tw-w-fit tw-bg-[#afbdcf] tw-border tw-border-[#3a414a] tw-font-medium tw-rounded-lg tw-text-sm tw-px-4 tw-py-1.5 tw-text-center tw-self-center;
}

.custom-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-low {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #b3e6bc;
    border: 2px black solid;
    border-radius: 5px;
  }
  
  .checkmark-medium {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #f3f3b5;
    border: 2px black solid;
    border-radius: 5px;
  }
  
  .checkmark-high {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #e9aaaa;
    border: 2px black solid;
    border-radius: 5px;
  }
  
  .checkmark-default {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #F2F6F9;
    border: 2px black solid;
    border-radius: 5px;
  }
  
  .checkmark-danger {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #F2F6F9;
    border: 2px #E81414 solid;
    border-radius: 5px;
  }
  
  .checkmark-rounded-default {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #E9EFF5;
    border: 2px black solid;
    border-radius: 50%;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkmark-rounded:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkmark-red:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-check input:checked ~ .checkmark-rounded:after {
    display: block;
  }
  
  .custom-check input:checked ~ .checkmark-red:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-check .checkmark:after {
    left: 8px;
    top: 0;
    width: 15px;
    height: 25px;
    border: solid black;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  
  .custom-check .checkmark-rounded:after {
    left: 10px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid black;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  
  .custom-check .checkmark-red:after {
    left: 8px;
    top: 0;
    width: 15px;
    height: 25px;
    border: solid #E81414;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .cal-month-view .cal-day-cell {
    min-height: 0;
  }
  
  .cal-month-view .cal-day-cell {
    min-height: 0; 
  }

  .cal-month-view .cal-cell-top {
    min-height: 30px;
  }

  .cal-month-view .cal-open-day-events {
    color: #3a414a !important;
    background-color: #b4bcce !important;
    box-shadow: none !important;
  }

  mat-list-option[aria-selected="true"] {
    background: #DB7272 !important;
  }

  .mat-pseudo-checkbox {
    display: none !important;
  }

  .holiday-text {
    @apply tw-text-[#E88C14];
  }
  
  .outOfOffice-text {
    @apply tw-text-[#14C1E8];
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }

  .tel-select {
    @apply tw-h-8 !tw-w-24 btn-clck tw-text-[#3a414a] !tw-px-1 hover:tw-border-gray-400 focus:tw-outline-none tw-rounded-l-lg;
  }

  .tel-input {
    @apply tw-h-8 tw-bg-gray-50 tw-text-gray-900 sm:tw-text-sm tw-rounded-lg tw-block tw-w-full tw-pl-24;
  }

  .backdropBackground {
    backdrop-filter: blur(2px);
  }

  .custom-num-spinner-container {
    @apply tw-flex tw-flex-col tw-gap-2 tw-bg-[#AFBDCF] tw-h-[34px] tw-rounded-r-lg;
  }
  .custom-num-spinner-container-dialog {
    @apply tw-flex tw-flex-col tw-gap-2 tw-bg-[#AFBDCF] tw-h-8 tw-rounded-r-lg;
  }

  .custom-num-spinner {
    @apply tw-cursor-pointer tw-mx-2 tw-h-2;
  }