<div class="dialog-bg">
    <div class="dialog-title-single-container">
        <span class="dialog-title">Cancel Changes</span>
    </div>

    
    <div class="dialog-content">
        <span class="dialog-message">
            Are you sure you want to cancel?
            <br>
            <br>
            That will clear all changes without saving.
        </span>

        <div class="dialog-footer">
            <button class="dialog-confirm-btn" [ngClass]="{'btn-loading':submitting}" (click)="save()">Yes</button>
            <button class="dialog-cancel-btn" mat-dialog-close>No</button>
        </div>
    </div>
</div>