<section class="grid h-full bg-[#d2dce8]">
    <div class="w-full flex flex-col items-center px-6 py-8 mx-auto">
        <div class="self-end">
            <div class="group exmp-wrp flex bg-white border border-[#3a414a] rounded-lg items-center">
                <div class="btn-wrp">
                    <select class="h-8 btn-clck text-[#3a414a] px-10 hover:border-gray-400 focus:outline-none appearance-none rounded-l-lg">
                        <option>English</option>
                    </select>
                </div>
                <button class="h-8 btn bg-[#AFBDCF] group-hover:bg-gray-300 text-lg rounded-r-lg">
                    <span class="m-2 text-lg">▾</span>
                </button>
            </div>
        </div>

        <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-full md:h-full h-8" src="/assets/images/revital_logo.png" alt="logo">
        </a>
        <div class="max-w-xs w-full p-6 space-y-4 md:space-y-6 sm:p-8">
            <form #form="ngForm" class="flex flex-col items-center justify-center space-y-4 md:space-y-6">
                <div class="w-full">
                    <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" id="email" placeholder="Email"
                        class="bg-gray-50 border border-[#3a414a] text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-message">
                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                    </div>
                </div>

                <div class="w-full">
                    <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
                        id="password" placeholder="Password"
                        class="bg-gray-50 border border-[#3a414a] text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" required>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation-message">
                        <div *ngIf="password.errors?.['required']">
                            Password is required.
                        </div>
                    </div>
                </div>

                <div class="w-full flex flex-col items-center justify-center">
                    <button
                        class="mt-5 w-full bg-[#afbdcf] hover border border-[#3a414a] font-medium rounded-lg text-sm px-12 py-1.5 text-center self-center"
                        [ngClass]="{'btn-loading':submitting}" (click)="login(form)" [disabled]="form.invalid || submitting">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>