<div class="md:tw-grid md:tw-grid-cols-4 tw-flex tw-items-start tw-justify-between tw-bg-[#d2dce8] tw-p-3 md:tw-gap-6 lg:tw-px-6">
    <!-- user mobile -->
    <div class="sm:tw-hidden tw-gap-3 tw-items-center">
        <button
          mat-ripple
          [mat-menu-trigger-for]="nameMenu"
          class="tw-rounded-full md:tw-w-14 tw-w-8 md:tw-h-14 tw-h-8"
        >
          <img
            id="clientLogoSmall"
            [src]="'assets/client_logo_small.png'"
            class="tw-h-full tw-w-full tw-object-cover"
          />
        </button>

        <mat-menu #nameMenu>
            <button mat-menu-item class="tw-text-sky-300">GP M. D. Try Hope</button>
        </mat-menu>
    </div>
    <!-- user mobile -->
    
    <!-- user web and tablet -->
    <div class="tw-hidden md:tw-flex tw-gap-3 tw-items-center tw-bg-white lg:tw-w-64 tw-w-full tw-h-32 tw-p-2 lg:tw-mx-20 tw-mx-0">
        <button
          mat-ripple
          class="md:tw-w-28 tw-w-8 md:tw-h-28 tw-h-8"
        >
          <img
            id="clientLogoSmall"
            [src]="'assets/client_logo_small.png'"
            class="tw-h-full tw-w-full tw-object-contain"
          />
        </button>
    
        <div class="tw-grid tw-w-full tw-gap-5">
          <span class="metropolis tw-text-[#14C1E8] lg:tw-text-[2rem]">GP M. D.</span>
          <span class="metropolis tw-text-[#14C1E8] lg:tw-text-[2rem]">Try Hope</span>
        </div>
    </div>
    <!-- user web and tablet -->

    <div class="tw-col-span-2 tw-flex">
      <!-- nav -->
      <admin-nav class="tw-w-full"></admin-nav>
      <!-- nav -->
      
    </div>

    <div
      class="md:tw-h-32 tw-h-8"
    >
      <img
        id="revLogoSmall"
        [src]="'assets/revital_logo_big.png'"
        class="tw-h-full tw-w-full tw-object-contain"
      />
    </div>
  </div>
  